*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

:root{
    --primary-color: #034240;
    --secondary-color: #00a896;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --danger-color: #ff5722;
}

body{
    background-color: var(--light-color);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: var(--secondary-color);
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: var(--light-color);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #090909;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}